body html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
meta {
	display: none;
}

style {
	display: none;
}

@media screen and (max-width: 375px) {
	 .bg {
	  background-attachment: scroll;
	}
}

@media screen and (max-width: 575px) {
	.p {
	  width: 550px;
	  margin-left: auto;
	  margin-right: auto;
	}

}
.bg { 
  /* The image used */
  background-image: url("img/bride8.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  
}
.caption a {
	float: center;
	padding: 18px;
	color: black;
	text-decoration: none;
	font-size: 25px;
	width: 15%;
	text-align: center;
	letter-spacing: 5px;
}
.caption a:hover {
	background-color: white;
}
@media screen and (max-width: 500px) {
	.caption a{
		float: none;
		display: block;
		width: 100%
		text-align: left;
	}
}

div {
	display: block;
}


h3 {
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 30px "Lato", sans-serif;
	color: #111;
}
h3 {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	color:#98B4C8; 
	
}

p {
	display: block;	
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 19px;
	line-height: 35px;
}

div {
	display: block;
}