body html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
meta {
	display: none;
}

style {
	display: none;
}

@media screen and (max-width: 375px) {
	 .bg {
	  background-attachment: scroll;
	}
	  
	img {
	  height: 35%;
	  width: 100%;
	}
		
}


.bg { 
  /* The image used */
  background-image: url("img/eyes1.jpg");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption .border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}



h3 {
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
}
h3 {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}



.row {
	margin-left: 10;
	margin-right: 10;
}

